html {
  background-color: rgb(173, 227, 233);
}

.page {
display: flex;
flex-direction: column;
width: 100%;
}

.dropshadowimg { 
  width:200px;
  box-shadow: 5px 5px 5px #999; 
}

.info {
  font-family: 'Palatino', 'URW'; 
  font-weight: 100;
}

.bio {
  text-align: center;
  padding-top: 30px;
  font-weight: 100;
}

#quote {
  margin-top: 20px;
  font-family: Apple Chancery, cursive;
  text-align: center;
}

.contact-info {
  margin-top: 20px;
  font-family: 'Palatino', 'URW'; 

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(253, 253, 253);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  height: 50px;
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(10, 51, 51);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Palatino', 'URW'; 
  font-size: 17px;
  font-weight: bolder;  
}

li b {
  display: block;
  color: rgb(10, 51, 51);
  text-align: center;
  padding-top: 10px;
  margin-left: 150px;
  text-decoration: none;
  font-family: 'Palatino', 'URW'; 
  font-size: 30px;
  font-weight: bolder;  
}

li a:hover {
  background-color:   rgb(253, 253, 253);
  color: rgb(82, 118, 143);
}

li b:hover {
  background-color:   rgb(253, 253, 253);
  color: rgb(82, 118, 143);
}

.main-container{
margin-top: 30px;
margin-left: 250px;
margin-right: 250px;
}

.sections-container{
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
}


.column{
float: left;
height: 300px; 
}

.left {
width: 30%;
}

.right {
width: 70%;
}

.main-container:after {
content: "";
display: table;
clear: both;
}

#about-me {
  font-family: 'Palatino', 'URW';
  font-weight: 100;

}

#education {
  font-family: 'Palatino', 'URW';
  font-weight: 100;

}

#publications {
  font-family: 'Palatino', 'URW';
  font-weight: 100;

}

#research {
  font-family: 'Palatino', 'URW';
  font-weight: 100;

}